{% load staticfiles widget_tweaks %}


{% block content %}
    {#    <h1>문장별 실시간 형태소 분석 - {{user}}</h1>#}
    {#    <p class="text-muted">아래 입력창에서 형태소 분석엔진을 선택하고 문장을 입력해주세요.</p>#}
    <div id="sentence-result">
        <form id="sentence_form" class="form-horizontal" action="." method="post" onsubmit="return false">{% csrf_token %}

            <fieldset style="border:1px solid #ccc; padding:20px 0 0 0;">
                <div class="form-group">
                    <label for="id_morpheme_type" class="col-sm-3 control-label">{{ form.morpheme_type.label }}</label>
                    <div class="col-sm-8">
                        {{ form.morpheme_type|add_class:"form-control" }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_raw_sentence" class="col-sm-3 control-label">{{ form.raw_sentence.label }}</label>

                    <div class="col-sm-8">
                        <div class="input-group">
                            {{ form.raw_sentence|add_class:"form-control" }}
                            <span class="input-group-addon" v-on:click="sentence_analyze"><i
                                    class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_parsed_sentence" class="col-sm-3 control-label">변환 문장</label>
                    <div class="col-sm-8">
                        <div class="alert alert-info" id="result_info">
                            <li v-for='result in result_set' v-text="result">
                                {{ result }} - {{ index }} -
                            </li>
                            {{ result_set.morpheme_type }}
                            aaaaaaaa : {{ morpheme_type }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <script>

        let sentence_result = new Vue({
            el: '#sentence-result'
            , data: {
                result_set: [1,2,3,4,5]
            },
            methods: {
                sentence_analyze: function () {
                    let morpheme_type_param = document.getElementsByName('morpheme_type')[0].value;
                    let raw_sentence_param = document.getElementsByName('raw_sentence')[0].value;
                    let csrf_token_param = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                    let params = new URLSearchParams();
                    params.append('morpheme_type', morpheme_type_param);
                    params.append('raw_sentence', raw_sentence_param);
                    params.append('csrfmiddlewaretoken', csrf_token_param);

                    if (morpheme_type_param != '' && raw_sentence_param != '') {
                        //axios.post('/morpheme/sentence/', params).then(response => {
                        axios.post('/morpheme/sentence/', params).then(response => {

                            this.result_set.push(
                                {morpheme_type: response.data.morpheme_type},
                                {result_sentence: response.data.result_sentence},
                                {total_memory: response.data.total_memory},
                                {user_name: response.data.user_name},
                                {total_time: response.data.total_time}
                            )

                            /*
                            this.result_set.morpheme_type = JSON.stringify(response.data.morpheme_type);
                            this.result_set.result_sentence = JSON.stringify(response.data.result_sentence);
                            this.result_set.total_memory = JSON.stringify(response.data.total_memory);
                            this.result_set.user_name = JSON.stringify(response.data.user_name);
                            this.result_set.total_time = JSON.stringify(response.data.total_time);
*/

                            console.log(this.result_set)
                        });

                    } else {

                    }
                }
            }
        });

        /*
        function sentence_analyze() {
            alert("A")
            $("#id_morpheme_type").attr('required', 'required');
            $("#id_raw_sentence").attr('required', 'required');

            if ($("#id_morpheme_type").val() != '' && $("#id_raw_sentence").val() != '') {
                $.ajax({
                    url: "/morpheme/sentence/"
                    , type: $("#sentence_form").method
                    , data: $("#sentence_form").serialize()
                    , beforeSend: function () {
                        $('.load_spinner_class').css('width', '100%').css('height', '100%').css('background-color', 'black').css('opacity', '0.2').css('z-index', '0');
                        $('.load_spinner_class *').prop('disabled', true);
                    }
                    , success: function (json) {
                        const morpheme_type_str = JSON.stringify(json.morpheme_type);
                        const total_memory_str = JSON.stringify(json.total_memory);
                        const user_name_str = JSON.stringify(json.user_name);
                        const total_time_str = JSON.stringify(json.total_time);

                        $("#result_info").html('<p><strong>' + morpheme_type_str + ' 분석결과 : '+total_memory_str+'MB사용 / '+total_time_str+'(초) by '+user_name_str+'</strong></p>');
                        for (var i = 0; i < json.result_sentence.length; i++) {
                            var result_list = json.result_sentence[i];
                            var keyword = result_list[0];
                            var tag_info = result_list[1];

                            $("#result_info").append('<p>[' + i + ']번째 분석 결과 : ' + keyword + ', ' + tag_info + '</p>');
                        }
                    }, error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }, complete: function () {
                        $('.load_spinner_class').css('width', '100%').css('height', '100%').css('background-color', '').css('opacity', '1').css('z-index', '0');
                        $('.load_spinner_class *').prop('disabled', false);
                    }
                });
            } else {
                return false;
            }
        }
        */
    </script>

{% endblock %}
