{% load staticfiles widget_tweaks %}


{% block content %}

    {#    <h1>문장별 실시간 형태소 분석 - {{user}}</h1>#}
    {#    <p class="text-muted">아래 입력창에서 형태소 분석엔진을 선택하고 문장을 입력해주세요.</p>#}

    <form id="sentence_form" class="form-horizontal" action="." method="post">{% csrf_token %}

        <fieldset style="border:1px solid #ccc; padding:20px 0 0 0;">
            <div class="form-group">
                <label for="id_morpheme_type" class="col-sm-3 control-label">{{ form.morpheme_type.label }}</label>
                <div class="col-sm-8">
                    {{ form.morpheme_type|add_class:"form-control" }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_raw_sentence" class="col-sm-3 control-label">{{ form.raw_sentence.label }}</label>

                <div class="col-sm-8">
                    <div class="input-group">
                        {{ form.raw_sentence|add_class:"form-control" }}
                        <span class="input-group-addon" id="id_search_icon"><i
                                class="glyphicon glyphicon-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="id_parsed_sentence" class="col-sm-3 control-label">{{ form.parsed_sentence.label }}</label>
                <div class="col-sm-8">
                    <div class="alert alert-info" id="result_info"></div>
                </div>
            </div>
        </fieldset>
    </form>

    <script type="text/javascript">
        {#document.getElementById('id_title').focus();#}

        $(document).ready(function () {
            $("#id_raw_sentence").keypress(function (event) {
                if (event.keyCode == '13') {
                    sentence_analyze();
                } else {
                    return false;
                }
            });

            $("#id_search_icon").click(function (event) {
                if (event.type == 'click') {
                    sentence_analyze();
                } else {
                    return false;
                }
            });
        });

        function sentence_analyze() {
            $("#id_morpheme_type").attr('required', 'required');
            $("#id_raw_sentence").attr('required', 'required');

            if ($("#id_morpheme_type").val() != '' && $("#id_raw_sentence").val() != '') {
                $.ajax({
                    url: "/morpheme/sentence/"
                    , type: $("#sentence_form").method
                    , data: $("#sentence_form").serialize()
                    , success: function (json) {
                        var morpheme_type_str = JSON.stringify(json.morpheme_type);

                        $("#result_info").html('<p><strong>' + morpheme_type_str + ' 분석결과 </strong></p>');
                        for (var i = 0; i < json.result_sentence.length; i++) {
                            var result_list = json.result_sentence[i];
                            var keyword = result_list[0];
                            var tag_info = result_list[1];

                            $("#result_info").append('<p>[' + i + ']번째 분석 결과 : ' + keyword + ', ' + tag_info + '</p>');
                        }
                    }, error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            } else {
                return false;
            }
        }
    </script>

{% endblock %}
