{% extends "base.html" %}
{% block title %}ml_list.html{% endblock %}

{% block content %}

    <h1>TextRank</h1>
    <div class="row" style="border: 3px solid gray; padding: 20px 20px;">

        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="panel panel-info">
                <div class="panel-heading">원문 텍스트</div>
                <div class="panel-body">{% csrf_token %}
                    <textarea class="form-control" id="originalText" aria-label="originalText" placeholder="원문 텍스트를 입력하세요" style="height: 417px"></textarea>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2" style="height: 510px; line-height: 510px; text-align: center;">
            <button class="btn btn-default" id="textRankBtn" type="button" style="vertical-align: middle; margin: 0 auto;">요약</button>
        </div>

        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="panel panel-info" style="height: 235px;">
                <div class="panel-heading">요약 문장</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="sentence1" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="sentence2" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="sentence3" style="margin-bottom: 15px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-info" style="height: 235px;">
                <div class="panel-heading">요약 키워드</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="keyword1" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="keyword2" style="margin-bottom: 15px">
                                <input type="text" class="form-control" id="keyword3" style="margin-bottom: 15px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // using jQuery csrf_token
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $(document).ready(function() {
            var csrftoken = getCookie('csrftoken');
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>

    <script>
        $("#textRankBtn").click(function() {
           if($("#originalText").val() != 0) {
               var param = {
                   "originalText" : $("#originalText").val()
               }

                console.log("ajax param: ", param);
                $.ajax({
                    type: 'POST',
                    url: '{% url 'ml:textrank' %}',
                    data: param,
                    dataType: 'json',
                    success: function(result) {
                        console.log("success result: ", result);
                        console.log("sentence1: ", result.sentence[0]);
                        for(var i=0; i<result.sentence.length; i++){
                            $("#sentence" + (i+1)).val(result.sentence[i]);
                        }
                        for(var i=0; i<result.keyword.length; i++) {
                            $("#keyword" + (i+1)).val(result.keyword[i]);
                        }
                    },
                    error: function(error) {
                        console.log("error: ", error);
                    }
                })
           } else {
               alert("원문 텍스트를 입력해 주세요");
           }
        });
    </script>

{% endblock %}